body {
    background-color:rgb(166, 202, 190);
    color:rgb(134, 102, 102);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:rgb(200, 192, 207);
    color:rgb(80, 77, 74);
    text-align: center;
}

header img{
    width: 150 px;
    height: 150px;
}

header h1{
    font-size: 50px;
    padding-top: 20px;
}

header h2{
    font-size: 35px;
    padding-bottom: 15px;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

main{
    background-color: rbg(200, 192,207);
}

p, h3{
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

li{
    display:inline-block;
    margin-left:15px;
    margin-right:15px;
}

#redessociales a{
    color: rgb(80, 77, 74);
}

#redessociales a:hoover {
color: rgb(132, 43, 209);
}
#lineaspendientes

#multimedia {
    text-align:center;
}